<h1>AsyncNotification#index</h1>
<p>Find me in app/views/async_notification/index.html.erb</p>

<div id='root'></div>
<%= javascript_pack_tag 'async_notification' %>

<p>
複数ページ開いて
consoleから
<pre>
1.upto(100) do |i|
  sleep(0.4)
  ActionCable.server.broadcast('async_notification', "message-#{i}")
end
</pre>
みたいな感じで
</p>

