<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<h2><%= @book.title %></h2>
<p><%= @book.description %></p>
<%= tag(:div, id: 'root', data: {id: @book.id}) %>
<%= javascript_pack_tag('book_show') %>
